{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <!-- Shop Detail Start -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner bg-light">


                            <div class="carousel-item active">
                                <img class="w-100 h-100" src="{{ object.image.url }}" alt="image">
                            </div>

                    </div>


{#                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">#}
{#                        <i class="fa fa-2x fa-angle-left text-dark"></i>#}
{#                    </a>#}
{#                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">#}
{#                        <i class="fa fa-2x fa-angle-right text-dark"></i>#}
{#                    </a>#}

                </div>
            </div>

            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <h3>{{ object.title }}</h3>
                    <h3 class="font-weight-semi-bold mb-4">{{ object.price }} تومان</h3>
                    <p class="mb-4">{{ object.description }}</p>
                    <form method="post" action="{% url 'cart:cart_add' object.slug %}">
                        {% csrf_token %}
                        <div class="d-flex mb-3">

                            {% if object.sizes.all %}
                                <strong class="text-dark mr-3">Sizes:</strong>
                                {% for size in object.sizes.all %}
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input required type="radio" class="custom-control-input" value="{{ size.title }}"
                                               id="{{ size.title }}" name="size">
                                        <label class="custom-control-label"
                                               for="{{ size.title }}">{{ size.title }}</label>
                                    </div>
                                {% endfor %}
                            {% endif %}

                        </div>
                        <div class="d-flex mb-4">
                            {% if object.colors.all %}
                                <strong class="text-dark mr-3">Colors:</strong>
                                {% for color in object.colors.all %}
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input required type="radio" class="custom-control-input" value="{{ color.title }}"
                                               id="{{ color.title }}" name="color">
                                        <label class="custom-control-label"
                                               for="{{ color.title }}">{{ color.title }}</label>
                                    </div>

                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="d-flex align-items-center mb-4 pt-2">
                            <div class="input-group quantity mr-3" style="width: 130px;">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary btn-minus">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input name="quantity" type="text"
                                       class="form-control bg-secondary border-0 text-center" value="1">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary btn-plus">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i>
                                Add To Cart
                            </button>
                            <br>
                            {% if is_like %}
                                <a style="margin-left: 3rem;"
                                   onclick="like('{{ object.slug }}' ,'{{ object.pk }}')"><i id="like"
                                                                                             style="font-size: 1.5rem;color: red;"
                                                                                             class="fa fa-heart"><span style="margin-left: 0.5rem;"
                                        id="count_like">{{ product.likes.all.count }}</span></i></a>
                            {% else %}
                                <a style="margin-left: 3rem;"
                                   onclick="like('{{ object.slug }}' , '{{ object.pk }}')"><i id="'like"
                                                                                              style="font-size: 1.5rem;color: red;"
                                                                                              class="far fa-heart"><span style="margin-left: 0.5rem;"
                                        id="count_like">{{ product.likes.all.count }}</span></i></a>
                            {% endif %}
                        </div>
                    </form>
                </div>

            </div>


        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="bg-light p-30">
                    <div class="nav nav-tabs mb-4">
                        <a class="nav-item nav-link text-dark active" data-toggle="tab"
                           href="#tab-pane-1">Description</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Information</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Reviews
                            ({{ object.comments.count }})</a>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <h4 class="mb-3">Product Description</h4>

                            <p>{{ object.description }}</p>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-2">
                            <h4 class="mb-3">Additional Information</h4>
                            {% for info in object.information.all %}

                                <p class="col-md-6">{{ info.description }}</p>
                                <hr>
                            {% endfor %}
                            <div class="row">
                                {% for info in object.information.all %}
                                    <div class="col-md-6">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item px-0">
                                                {{ info.title }}
                                            </li>
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-3">


                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="mb-4">{{ object.comments.count }} review for "{{ object.title }}"</h4>
                                    {% for comment in object.comments.all %}

                                        <div class="media mb-4">
                                            {% if request.user.image %}
                                                <img src="{{ request.user.image }}" alt="Image"
                                                     class="img-fluid mr-3 mt-1">
                                            {% else %}
                                                <img src="{% static 'img/vendor-1.jpg' %}" alt="Image"
                                                     class="img-fluid mr-3 mt-1"
                                            {% endif %}
                                                     style="width: 45px;">
                                            <div class="media-body">
                                                <h6>{{ comment.user.first_name }}<small> -
                                                    <i>{{ comment.created_at }}</i></small></h6>
                                                <p>{{ comment.message }}</p>
                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>


                                <div class="col-md-6">
                                    <h4 class="mb-4">Leave a review</h4>
                                    <small>Your email address will not be published. Required fields are marked
                                        *</small>


                                    <form method="post" action="{% url 'product:comment_create' object.slug %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="message">Your Review *</label>
                                            <textarea type="text" name="message" class="form-control"
                                                      id="message"></textarea>
                                        </div>


                                        <div class="form-group">
                                            <label for="email">Your Email *</label>
                                            <input type="email" name="email" class="form-control" id="email">
                                        </div>

                                        {% if request.user.is_authenticated %}
                                            <div class="form-group mb-0">
                                                <button type="submit" class="btn btn-block btn-primary">Comment
                                                </button>
                                            </div>
                                        {% else %}
                                            <div class="form-group mb-0">
                                                <a type="submit" class="btn btn-block btn-primary">Login For Create
                                                    Comment</a>
                                            </div>
                                        {% endif %}

                                    </form>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->


    <!-- Products Start -->
    <div class="container-fluid py-5">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">You May Also Like</span>
        </h2>
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel related-carousel">
                    {% for item in most_liked %}


                        <div class="product-item bg-light">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="{{ item.product.image.url }}" alt="">
                                <div class="product-action">

                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate"
                                   href="{{ item.product.get_absolute_url }}">{{ item.product.title }}</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>{{ item.product.price }}</h5>
                                    <h6 class="text-muted ml-2">
                                    </h6>
                                </div>

                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Products End -->
{% endblock %}

